.page {
  padding: 16px 16px 96px 16px;
}

.section-container {
  padding: 16px;
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 24px;
}

.zaui-list-item {
  cursor: pointer;
}

@media screen and (max-height: 700px) {
  .game-container {
    padding-top: 2rem;
  }
  
  .board-container {
    transform: scale(0.9);
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/* For very small screens */
@media screen and (max-height: 600px) {
  .board-container {
    transform: scale(0.8);
  }
}